.app {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
.events-container {
  width: 1440px;
  height: 100%;
  background-color: #fff;
  padding: 100px;
  padding-bottom: 80px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.events-container > h1 {
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 66px;
  color: #2e282c;
  font-family: 'AvenirLTStd-Black';
}
.event-info {
  margin-bottom: 42px;
}
.event-info > span {
  font-family: 'AvenirLTStd-Roman';
  font-size: 24px;
  line-height: 33px;
  color: #2e282c;
  margin-right: 20px;
}
@media (max-width: 810px) {
  .event-info {
    width: 60%;
  }
  .event-info > .city-title {
    margin-right: 50px;
  }
}
@media (max-width: 750px) {
  .events-container {
    padding: 50px;
  }
}
@media (max-width: 500px) {
  .events-container > h1 {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .events-container {
    padding: 20px;
  }
}